/*Definindo fonte padrão dos textos do site e zerando margem do site total*/
*{
    margin: 0;
    font-family:"Roboto",sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
}

.site-animes-pagina-anime {
    background-color: black;
    color: white;
    display: flex;
}

.titulo-principal-pagina-anime {
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-principal-pagina-anime h2 {
    color: white;
}   





.titulo-principal-pagina-anime img {
    width: 2rem;
    margin: 0.2rem;
}

.sessao1-primeira-parte-lista-anime {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    margin-bottom: 2rem;
    align-items: center;
}

.capa-do-anime-escolhido {
    margin: 1rem;
    text-align: center;
}

.capa-do-anime-pagina-anime img {
    width: 21.3rem;
}


.icones-da-capa-do-anime-lista-anime ul {
    display: flex;
    background-color: rgb(26, 25, 25);
    padding: 0.5rem;
    width: 21.3rem;
}

.lista-de-animes h4 {
    margin-right: 0.5rem;
}

.icones-da-capa-do-anime-lista-anime img {
    width: 1.5rem;
}

.icones-da-capa-do-anime-lista-anime li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    display: flex;
    background-color: rgb(22, 21, 21);
    border: 1px solid rgb(29, 28, 28);
    cursor: pointer;
}

.icones-da-capa-do-anime-lista-anime li:hover {

    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(255, 255, 255);
}

.icone-gostei-pagina-anime img {
    margin-right: 0.5rem;
}

.icone-desgostei-pagina-anime img {
    margin-right: 0.5rem;
}

.informações-do-anime-lista-anime ul {
    background-color: rgb(22, 21, 21);
    padding: 0;
    border: 1px solid rgb(78, 76, 76);
    margin-right: 2rem;
    margin: 1rem;

}

.informações-do-anime-lista-anime li {
    border-bottom: 1px dashed white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.informações-do-anime-lista-anime h3 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

li.status-lista-anime {
    border-bottom: none;
}


.titulo-assistir-anime-online-lista-anime h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.sinopse-anime-lista-anime {
    background-color: rgb(53, 52, 52);
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 8px;
}

.sinopse-anime-lista-anime h2 {
    background-color: rgb(22, 21, 21);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.sinopse-anime-lista-anime p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem;
}

.temporadas-pagina-anime ul {
    display: flex;
    margin: 2rem;
    margin-top: 4rem;
    padding: 0;
}

.numero-da-tempora-pagina-anime {
    background-color: red;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.numero-da-tempora2-pagina-anime {
    background-color: rgb(22, 21, 21);
    width: 100%;
    font-size: 1.8rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.capa-e-numero-do-episodio-pagina-anime img{
    width: 6rem;
}

.capa-e-numero-do-episodio-pagina-anime {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(31, 31, 31);
}

.capa-e-numero-do-episodio-pagina-anime img {
    padding-right: 1rem;
}

.capa-e-numero-do-episodio-pagina-anime {
    background-color: rgb(12, 11, 11);
    border-bottom: 1px solid white;
    padding: 0.3rem;
    cursor: pointer;
}

.numero-do-episodio-pagina-anime ul {
    margin-right: 3rem;

}

.numero-do-episodio-pagina-anime a {
    color: white;
}

li.ultimo-capa-e-numero-do-episodio-pagina-anime {
    border-bottom: none;
}


.numero-do-episodio-pagina-anime {
    padding-bottom: 2rem;
}

.data-lancamento :hover{
    color: rgb(0, 204, 255);
}


 /* Daqui para baixo fica a estilização da pagina anime-edit  */


 .lado-esquerdo-do-site-pagina-anime input, select{
    text-align: center;
    border: 0;
    border-radius: 2px;
    font-size: 1rem;
 }
 .titulo-principal-pagina-anime input {
    font-size: 1.5rem;
}

.capa-do-anime-escolhido input {
    cursor: pointer;
}

.titulo-principal-anime-edit {
    text-align: center;
    background-color: rgb(255, 238, 0);
    color: black;
    padding: 0.4rem;
    margin-bottom: 1rem;
}

.sinopse-anime-lista-anime input {
    width: 100%;
    height: 8rem;
}


@media (max-width: 558px) {
    .sessao1-primeira-parte-lista-anime {
        display: grid;
    }

    .capa-do-anime-escolhido {
        display: grid;
        justify-content: center;
    }

    .sinopse-anime-lista-anime {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .temporadas-pagina-anime ul {
        margin: 0.8rem;
        margin-top: 3rem;
    }

    .numero-do-episodio-pagina-anime ul {
        margin-right: 0.5rem;
        padding: 1rem;
    }
}

.anime-edit {
    background-color: black;
    color: white;
}