*{
    margin: 0;
    font-family:"Roboto",sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.informacoes-de-cadastro {
    display: flex;
    justify-content: space-evenly;
    justify-content: start;
    margin-left: 0.8rem;
}

.informacoes-de-cadastro input {
    width: 125%;
    color: white;
}

