* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.site-animes-contato {
  background-color: black;
}

.titulo-principal-contato h2 {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 0.4rem;
}

.balao-de-contato {
  display: flex;
  justify-content: center;
}

.texto-de-contato {
  border: 2px solid white;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 70%;
  border-radius: 15px;
  background-color: rgb(29, 29, 31);
}

.texto-de-contato h3 {
  text-align: center;
  color: white;
  padding: 5rem;
  width: 100%;
}

.espaco-contato {
  background-color: black;
  padding-top: 3.2rem;
}

@media (max-width: 696px) {
  .texto-de-contato h3 {
    font-size: 1rem;
    padding: 1rem;
  }
}
