*{
    margin: 0;
    font-family:"Roboto",sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.barra-titulo-1-episodios-adicionados {
    background-color: rgb(29, 29, 31);
    width: 30%;
    height: 0.3rem;
}

.barra-titulo-2-episodios-adicionados h2 {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.barra-titulo-3-episodios-adicionados {
    background-color: rgb(29, 29, 31);
    width: 30%;
    height: 0.3rem;
}

.titulo-principal-episodios-adicionados {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.numero-da-pagina-episodios-adiconados {
    padding-bottom: 1rem;
}

.barra-separacao-episodios-adicionados {
    padding-top: 1rem;
    padding-left: 1rem;
}