/*Definindo fonte padrão dos textos do site e zerando margem do site total*/
*{
    margin: 0;
    font-family:"Roboto",sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.linha-index {
    width: 95%;

    border-bottom: 1px solid white;
    margin-left: 1rem;
} 


.site-animes {
    display: flex;
    background-color: black;
}

/* -----------Seção 1 da pagina----------  */


.sessao-1-index {
    padding-left: 1rem;
}

.barra-separacao-index img  {
    height: 2.5rem;
}

.setas-carrosel-index img {
    width: 1rem;
    cursor: pointer;
}

.setas-carrosel-index button {
    background-color: transparent;
    border: 0;
}

.textodelacamento-e-iconedecarrosel {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.barra-separacao-index {
    display: flex;
    align-items: center;
}

.barra-separacao-index h3{
    padding-left: 0.5rem;
    color: white;

}


.animes-lancados {
    display: flex;
    flex-direction:row;
    flex-flow: wrap;

    padding-bottom: 2rem;
}

.animes-lancados img {
    width: 10rem;
}

.animes-lancados h4 {
    color: white;
    text-align: center;
}

.capa-onepiece-index  {
    padding: 1rem;
}




/* -----------Seção 2 da pagina----------  */


.botao-vermais-index button {
    color: white;
    background-color: red;
    border: 0;
    border-radius: 3px;
    height: 2rem;
    cursor: pointer;
}

.animes-adicionados {
    display: flex;
    flex-direction:row;
    flex-flow: wrap;
    padding-bottom: 2rem;
    
}

.animes-adicionados img {
    width: 13.5rem;

}

.animes-adicionados h4 {
    color: white;
    background-color: rgb(29, 29, 31);
    padding: 5px;

}

.capa-onepiece-index a img {
    padding: 0;
    margin: 0;
} 


/* 
-----------Seção 3 da pagina----------  */

















/* -------------------------------------lado direito da pagina ---------------------------------  */

.lado-direito-do-site-index {
    border: 1px solid rgb(80, 80, 87);

}

 .capa-do-anime-popular-index img {
    width: 4rem;
}

.animes-populares-index h4 {
    color: white;
}

.animes-populares-index h2 {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: yellow;
}


.nota-do-anime-index img{
    width: 5rem;
}

.o-anime-popular-index {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    margin: 3.3rem;
    border-radius: 5px;
    padding: 0.3rem;
}

.o-anime-popular-index {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.o-anime-popular-index-lado-direiro {
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.mangas-populares-index {
    margin-top: 4rem;
}

.noticias-blog {
    margin-top: 4rem;
}  



@media (max-width: 722px){
    .lado-direito-do-site-index {
        display: none;
    }

    .animes-adicionados {
        display: flex;
        justify-content: center;
    }

    .capa-onepiece-index img {
        width: 7rem;
        padding: 0;
        margin: 0;
    }

    .capa-onepiece-index  {
        padding: 0.5rem;
    }
    
}