/*Definindo fonte padrão dos textos do site e zerando margem do site total*/
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.listadeanimes {
  background-color: black;
}

.titulo-principal-lista-animes {
  background-color: blue;
  width: 100%;
}

.titulo-principal-lista-animes h2 {
  text-align: center;
  color: white;
  padding: 0.3rem;
}

.lista-de-animes-por-letra ul {
  padding: 0;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.lista-de-animes-por-letra li {
  padding: 1rem;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: white;
  cursor: pointer;
}

li.all-listadeanimes {
  background-color: rgb(11, 206, 11);
}

.lista-de-animes-por-letra li:hover {
  background-color: rgb(11, 206, 11);
}

.pesquisa-listadosanimes {
  display: flex;
  justify-content: center;
}

.barra-de-pesquisa-lista-dos-animes {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.barra-de-pesquisa-lista-dos-animes input {
  width: 95%;
}

.pesquisa-lista-dos-animes {
  width: 100%;
}

.filtros-listadosanimes ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 1rem;
  color: white;
}

.filtros-internos {
  display: flex;
  cursor: pointer;
}

.filtros-listadosanimes div:hover {
  background-color: rgb(0, 238, 255);
  color: black;
  font-weight: 500;
}

.filtros-internos img {
  height: 1rem;
  padding-right: 10px;
}

img.seta-baixo {
  height: 0.5rem;
  display: flex;
  padding-left: 0.3rem;
}

.filtros-internos {
  align-items: center;
}

.seta-baixo {
  height: 0.5rem;
}

.filtros-listadosanimes div {
  background-color: rgb(42, 42, 44);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid rgb(34, 33, 33);
}

.numero-de-animes-na-pagina-listadosanimes h4 {
  color: white;
  margin: 1rem;
}

.numero-da-pagina-listadosanimes ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.numero-da-pagina-listadosanimes li {
  background-color: rgb(29, 29, 31);
  padding: 0.8rem;
  border: 1px solid rgb(20, 20, 20);
  margin: 0.5rem;
  color: white;
}

.numero-da-pagina-listadosanimes li:hover {
  background-color: rgb(7, 193, 250);
}

.numero-da-pagina-listadosanimes img {
  height: 1rem;
}

.numero-da-pagina-listadosanimes a {
  text-decoration: none;
}

.capa-onepiece-listadosanimes {
  border: 1px solid rgb(8, 190, 245);
  margin: 0.5rem;
  border-radius: 8px;
}

.capa-onepiece-listadosanimes:hover {
  border: 1px solid red;
}

.lista-dos-animes-capas {
  display: flex;
  justify-content: center;
}

@media (max-width: 605px) {
  .titulo-principal-lista-animes h2 {
    font-size: 1rem;
  }

  .barra-de-pesquisa-lista-dos-animes {
    width: 70%;
    justify-content: none;
    padding: 0.9rem;
  }

  .filtros-internos img {
    height: 0.8rem;
  }
  .filtros-internos {
    align-items: center;
  }

  .filtros-listadosanimes div {
    background-color: rgb(42, 42, 44);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: 0.1rem;
    border: 1px solid rgb(34, 33, 33);
  }

  .numero-da-pagina-listadosanimes li {
    margin: 0.2rem;
  }
}
