* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.espaco-episodio-selecionado {
  background-color: black;
  padding-bottom: 2rem;
}

.site-animes-episodio-selecionado {
  background-color: black;
  color: white;
  display: flex;
}

.titulo-principal-episodio-selecionado {
  background-color: rgb(29, 29, 31);
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.capa-episodio-selecionado img {
  width: 90%;
}

.botao-para-episodio {
  position: relative;
  bottom: 10%;
  left: 39%;
  height: 5%;
  background-color: blue;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.botao-para-episodio:hover {
  background-color: rgb(9, 214, 250);
  color: black;
}

.capa-episodio-selecionado a {
  display: flex;
  justify-content: center;
}

.icones-episodios-anter-prox-episodio-selecionado ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  margin-top: 1rem;

  padding: 0;
}

.icones-episodios-anter-prox-episodio-selecionado li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 31);
  margin-right: 0.3rem;
  padding: 0.5rem;
  border: 1px solid white;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  overflow: hidden;
}

li.erro-reportar {
  background-color: red;
}

.icones-episodios-anter-prox-episodio-selecionado li:hover {
  background-color: rgb(0, 195, 255);
  border: 0;
}

.proximo-episodio-episodio-selecionado h4 {
  margin-right: 0.3rem;
}

.icones-episodios-anter-prox-episodio-selecionado img {
  height: 1rem;
  margin-right: 0.5rem;
}

.texto-assistir-anime-online-episodio-selecionado h3 {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.o-anime-popular-episodio-selecionado div {
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o-anime-popular-episodio-selecionado h4 {
  color: yellow;
}

.o-anime-popular-episodio-selecionado {
  color: white;
}

.o-anime-popular-episodio-selecionado a {
  color: white;
}

.comentarios-do-episodio {
  margin-top: 2rem;
}

li.adicionar-a-lista2 {
  display: none;
}

li.adicionar-a-lista1 {
  background-color: rgb(4, 0, 255);
}

@media (max-width: 1115px) {
  .icones-episodios-anter-prox-episodio-selecionado h4 {
    font-size: 0.8rem;
  }

  .icones-episodios-anter-prox-episodio-selecionado li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .botao-para-episodio {
    left: 35%;
  }
}

@media (max-width: 1073px) {
  .icones-episodios-anter-prox-episodio-selecionado h4 {
    font-size: 0.7rem;
  }

  .icones-episodios-anter-prox-episodio-selecionado img {
    height: 0.7rem;
  }

  .botao-para-episodio {
    bottom: 9%;
    left: 36%;
    height: 5%;
    padding: 1rem;
    font-size: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1030px) {
  .titulo-principal-episodio-selecionado h2 {
    font-size: 1.3rem;
  }

  .icones-episodios-anter-prox-episodio-selecionado h4 {
    font-size: 0.6rem;
  }
}

@media (max-width: 934px) {
  .botao-para-episodio {
    font-size: 0.6rem;
  }
}

@media (max-width: 818px) {
  .botao-para-episodio {
    bottom: 7%;
    left: 37%;
    height: 4%;
    padding: 0.5rem;
    font-size: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media (max-width: 482px) {
  li.erro-reportar {
    margin-top: 0.3rem;
  }

  li.adicionar-a-lista2 {
    margin-top: 0.3rem;
  }

  li.adicionar-a-lista2 {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(4, 0, 255);
  }

  li.adicionar-a-lista1 {
    display: none;
  }

  .botao-para-episodio {
    bottom: 5%;
    left: 37%;
    height: 3%;
    padding: 0.5rem;
    font-size: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
