* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

/* Remova o sublinhado e aplique !important */
a {
  text-decoration: none !important;
}

/* --------------- Estilização do Header -------------------- */

.icone-login-partials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 0%);
}

/* Defininfo a largura e retirando as margem do header  */
.wrapper-partials {
  width: 100%;
  margin: 0 auto;
}

/* retirando o espaçamento entre o logo e os itens do menu  */
.menu-partials ul {
  padding: 0;
}

/* Dando margem lateral ao logo  */
.logo-partials {
  margin-left: 1rem;
}

/* Definindo cor, dando esaçamento e centralizando os itens dentro da tag nav (menu-navegador)  */
.nav-partials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 0%);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/* Definindo a largura e dando margem a imagem que fai no menu de navegação  */
.nav-partials img {
  width: 6.5rem;
  padding-top: 0.5rem;
}

/* Deixando os item no menu de navegação um ao lado do outro, dando espaçamento com gap e tirando os topicos das listas  */
.nav-partials ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

/* tirando o sublinhado dos links do menu de navegação  */
.nav-partials a {
  text-decoration: none;
  color: #00e6ff;
}

.nav-partials #toggle-partials,
.nav-partials label {
  display: none;
}

.nav-partials #toggle-partials-2,
.nav-partials label {
  display: none;
}

/* Defindo tamanho, margin interna e cores do texto e da borda dos itens do menu de navegação  */
.menu-partials li {
  font-size: 1rem;
  border: 1px solid #00e6ff;
  background-color: transparent;
  border-radius: 1px 10px;
  color: #00e6ff;
  padding: 0.5rem;
  margin-left: 1rem;
}

/* definindo a cores que os itens do menu terão ao passar o mouse neles */
.menu-partials li:hover {
  background-color: #00e6ff;
  color: white;
}

/* Deixando uma linha branca entre o header e o container 1  */
.linha-partials {
  border-bottom: 1px solid #3a9faa;
}

/* estilizando a barra de pesquisa, definindo cores, larguras, margens e centralizando itens.  */
.barra-de-pesquisa-partials {
  background-color: rgb(66, 65, 65);
  padding: 3px;
  color: white;
  border-radius: 5px;
  width: 14rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* deixando o icone de login e barra de pesquisa na mesma linha  */
.login-pesquisa-partials {
  display: flex;
  align-items: center;
}

/* dando uma magin lateral as divs dos icones de login e barra de pesquisa   */
.login-pesquisa-partials div {
  margin-right: 1rem;
}

/* Estilizando o input da barra de pesquisa, definindo o tamanho do texto, a largura e altura do input e cor de fundo  */
.barra-de-pesquisa-partials input {
  width: 12rem;
  height: 2rem;
  background-color: rgb(66, 65, 65);
  border: 0;
  font-size: 1rem;
  margin-left: 1rem;
  outline: 0;
  color: white;
  border-radius: 5px;
}

/* tirando o fundo do botão lupa e deixando ele como notão clicável  */
.barra-de-pesquisa-partials button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Definindo a largura da imagem da lupa e dando uma margem lateral interna */
.barra-de-pesquisa-partials img {
  width: 1.5rem;
  margin-left: -1rem;
  z-index: 50;
}

.barra-de-pesquisa-partials-mobile,
.icone-login-partials-mobile,
.toggle-partials-2-pai,
.icone-login-partials-mobile,
.login-pesquisa-partials-2,
.categoria-mobile {
  display: none;
}

/* definindo a largura da barra que separa a barra de pesquisa e o icone de login  */
.barra-separadora-partials img {
  width: 2.2px;
}

/* definindo a largura do icone de login  */
.icone-login-partials img {
  width: 1.5rem;
}

.categoria-desktop-login ul {
  padding: 0;
}




.categoria-desktop-login ul li {
  position: relative;
  z-index: 5;
}

.categoria-desktop-login ul li a {
  text-decoration: none;
}

.categoria-desktop-login ul li :hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.categoria-desktop-login ul ul {
  display: none;
  left: -4rem;
  top: 2.8rem;
  position: absolute;
  padding: 0;
}

.categoria-desktop-login ul li:hover ul {
  display: block;
  background-color: #00e6ff;
  border-radius: 10px;
}

.categoria-desktop-login ul ul {
  width: auto;
  padding: 0.5rem;
}

.categoria-desktop-login ul ul li a {
  display: block;
  color: black;
  border-bottom: 1px dashed rgb(0, 0, 0);
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.categoria-desktop-login button {
  border: 0;
  background-color: transparent;
}

/* ---------------------- Estilização do menu categorias --------------------  */

.menu-partials ul {
  text-align: center;
  margin-bottom: 0;
}

.menu-partials ul li {
  position: relative;
  z-index: 5;
}

.menu-partials ul li a {
  color: #00e6ff;
  text-decoration: none;
}

.menu-partials ul li :hover {
  color: rgb(182, 17, 17);
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.menu-partials ul ul {
  display: none;
  left: -2.4rem;
  top: 2.5rem;
  position: absolute;
}

.menu-partials ul li:hover ul {
  display: block;
  background-color: rgb(26, 25, 25);
}

.menu-partials ul ul {
  width: auto;
  padding-right: 15px;
}

.menu-partials ul ul li a {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.categorias-partials li {
  border-radius: 0;
  border: 0;
}

.categoria-desktop img {
  width: 1.5rem;
  position: relative;
  top: 0.4rem;
}

.icone-login-desk2 {
  display: none;
}

/*  -------------------- DAQUI PARA BAIXO FICA A ESTILIZAÇÃO DO HEADER MOBILE -------------------- */

/* Retirando o espaçamento dos topicos do menu de navegação e minuindo os itens  */

@media (max-width: 1115px) {
  .menu-partials li {
    font-size: 0.7rem;
  }
}

@media (max-width: 1078px) {
  .menu-partials li {
    font-size: 0.7rem;
    margin: 0;
  }

  .menu-partials ul ul {
    display: none;
    left: -2rem;
    top: 1.9rem;
    position: absolute;
  }

  .menu-partials ul ul {
    padding-left: 15px;
  }
}

/* Retirando o espaçamento dos topicos do menu de navegação  */
@media (max-width: 1001px) {
  .nav-partials ul {
    gap: 0.7rem;
  }
}

/* Diminuindo o tamanho e dando uma margin inferior nos itens do menu de navegação  */
@media (max-width: 905px) {
  .menu-partials li {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
}

@media (max-width: 900px) {
  .login-pesquisa-partials {
    display: none;
  }
}

/*------------------DAQUI PARA BAIXO COMEÇA A ESTILIZAÇÃO MOBILE DE 630PX PARA BAIXO--------------------------*/

@media (max-width: 887px) {
  /*------------------Daqui Para baixo fica a estilização do HEADER MOBILE--------------------------*/

  .login-pesquisa-partials-2,
  .categoria-mobile {
    display: list-item;
  }

  /* .categoria-desktop {
  } */

  /* deixando o icone de login e barra de pesquisa na mesma linha  */
  .login-pesquisa-partials-2 {
    display: flex;
    align-items: center;
  }

  /* dando uma magin lateral as divs dos icones de login e barra de pesquisa   */
  .login-pesquisa-partials-2 div {
    margin-right: 1rem;
  }

  /* Definindo a largura, altura e deixando os itens na mesma linha do menu de navegação  */
  .nav-partials .menu-partials {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  /* Dando margem e espaçamento ao menu de navegação */
  .nav-partials {
    justify-content: space-between;
    padding-left: 0.3rem;
    flex-wrap: none;
  }

  /* Deixando os itens do menu de navegação um em cima do outro, centralizando e dando margem interna  */
  .nav-partials ul {
    flex-direction: column;
    align-items: center;
    /* padding: 0.5rem 0; */
  }

  /* Dando cor e deixando o cursor com um formato que clicagem  */
  .nav-partials label {
    display: inline-flex;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
  }

  /* Definindo a largura da imagem do logo do menu de navegação  */
  .nav-partials label img {
    width: 2.3rem;
  }

  /* zerando a margem da imagem do menu de navegação  */
  .nav-partials img {
    margin-right: 0;
  }

  /* Deixando a altura do menu de navegação em 100%  */
  .nav-partials #toggle-partials:checked ~ .menu-partials {
    height: 100%;
  }
}
@media (max-width: 530px) {
  .button-l button,
  .search-input input {
    background-color: transparent;
    border: 0;
  }
  .lupa-button {
    background: 0 0;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin: 0;
  }
  .barra-de-pesquisa-partials-mobile,
  .search-input {
    padding: 3px;
    border-radius: 5px;
    background-color: #424141;
    color: #fff;
  }
  .search-input {
    display: none;
    width: 21rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  .search-input input {
    width: 19rem;
    height: 1.6rem;
    color: #fff;
  }
  input:focus {
    outline: 0;
  }
  .button-l {
    display: none;
    width: 2rem;
    height: 2rem;
  }
  .button-l button {
    width: 2rem;
    height: 2rem;
    margin-left: -2rem;
  }
  .partials-mobile-search-button {
    display: flex;
  }
  .partials-mobile-search-button img {
    width: 20px;
    margin-top: -0.5rem;
    cursor: pointer;
  }
  #toggle-partials-2:checked + label .search-input {
    display: block;
  }
  .barra-de-pesquisa-partials,
  .barra-separadora-partials,
  .icone-login-desk,
  .icone-login-partials {
    display: none;
  }

  .icone-login-desk2 {
    display: list-item;
  }

  .categoria-desktop-login3 img {
    width: 1.8rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    margin-right: 0.5rem;
  }

  .nav-partials {
    display: flex;
    justify-content: space-between;
  }
  .icone-login-partials-mobile {
    position: relative;
    right: 3rem;
  }
  .toggle-partials-2-pai {
    position: relative;
    left: 0.5rem;
  }
  .barra-de-pesquisa-partials-mobile img,
  .nav-partials label img {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .icone-login-partials-mobile,
  .toggle-partials-2-pai {
    display: list-item;
  }
  .icone-login-partials-mobile img {
    width: 1rem;
  }
  .toggle-partials-2-pai label {
    margin: 0;
  }
  .barra-de-pesquisa-partials-mobile {
    width: 14rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .barra-de-pesquisa-partials-mobile input {
    width: 12rem;
    height: 2rem;
    background-color: #424141;
    border: 0;
    font-size: 1rem;
    margin-left: 1rem;
    outline: 0;
    color: #fff;
    border-radius: 5px;
  }
  .barra-de-pesquisa-partials-mobile button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .icone-login-mob ul ul {
    left: 0.1rem;
  }

  
}

/* @media (max-width: 370px) {
  .nav-partials label img {
  }
} */

/* ------------------------------ ESTILIZAÇÃO FOOTER ------------------------------  */

.footer-index-maior {
  background-color: black;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #3a9faa;
  padding: 1rem;
}

.footer-index {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-around;
  justify-content: center;
}

.logo img {
  width: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  flex-direction: row;
  flex-flow: wrap;
}

.topicos-footer-index {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.topicos-footer-index a {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 1rem;
}

.topicos-footer-index a:hover {
  color: rgb(4, 248, 248);
}

.direitos-footer-index {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

/*------------------Daqui Para baixo fica a estilização do SCROLL DE ROLAGEM GERAL--------------------------*/

/* Estilizando o Botão de Scroll para o topo da pagina  */
.scrollTop {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0px;
  bottom: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

/* Estilizando quano ele ira aparacer  */
.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

/* Estilizando a largura da imagem e fazendo a rotação dela  */
.scrollTop img {
  width: 50%;
  transform: rotate(-90deg);
}




/* ---------------------------- ESTILIZAÇÃO ANIMES --------------------------------  */

/*Definindo fonte padrão dos textos do site e zerando margem do site total*/

.section-detalhes {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.site-animes-pagina-anime {
  background-color: black;
  color: white;
  display: flex;
}

.titulo-principal-pagina-anime {
  background-color: rgb(0, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-principal-pagina-anime h2 {
  color: white;
}

.titulo-principal-pagina-anime img {
  width: 2rem;
  margin-left: 1rem;
}

.sessao1-primeira-parte-lista-anime {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  margin-bottom: 2rem;
  align-items: center;
}

.capa-do-anime-escolhido {
  margin: 1rem;
  text-align: center;
}

.capa-do-anime-pagina-anime img {
  width: 21.3rem;
}

.icones-da-capa-do-anime-lista-anime ul {
  display: flex;
  background-color: rgb(26, 25, 25);
  padding: 0.3rem;
}

.lista-de-animes h4 {
  margin-right: 0.5rem;
  padding-top: 0.4rem;
}

.lista-de-animes a {
  display: flex;
  color: white;
}

/* .lista-de-animes  {
  margin-right: 0.5rem;
} */

.icone-favoritos {
  border: 0;
}

.adicionar-favorito {
  background-color: transparent;
  border: 0;
}

.icones-da-capa-do-anime-lista-anime img {
  width: 1.5rem;
}

.icones-da-capa-do-anime-lista-anime li {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  display: flex;
  background-color: rgb(22, 21, 21);
  border: 1px solid rgb(29, 28, 28);
  cursor: pointer;
}

.icones-da-capa-do-anime-lista-anime li:hover {
  background-color: rgb(37, 37, 37);
  border: 1px solid rgb(255, 255, 255);
}

.icone-gostei-pagina-anime img {
  margin-right: 0.5rem;
}

.icone-desgostei-pagina-anime img {
  margin-right: 0.5rem;
}

.informações-do-anime-lista-anime ul {
  background-color: rgb(22, 21, 21);
  padding: 0;
  border: 1px solid rgb(78, 76, 76);
  margin-right: 2rem;
  margin: 1rem;
}

.informações-do-anime-lista-anime li {
  border-bottom: 1px dashed white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.informações-do-anime-lista-anime h3 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

li.status-lista-anime {
  border-bottom: none;
}

.titulo-assistir-anime-online-lista-anime h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.sinopse-anime-lista-anime {
  background-color: rgb(53, 52, 52);
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 8px;
}

.sinopse-anime-lista-anime h2 {
  background-color: rgb(22, 21, 21);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}

.sinopse-anime-lista-anime p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding: 1rem;
}

.temporadas-pagina-anime ul {
  display: flex;
  margin: 2rem;
  margin-top: 4rem;
  padding: 0;
}

.numero-da-tempora-pagina-anime {
  background-color: red;
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
}

.numero-da-tempora2-pagina-anime {
  background-color: rgb(22, 21, 21);
  width: 100%;
  font-size: 1.8rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.numero-da-tempora2-pagina-anime2 {
  display: flex;
  color: rgb(252, 252, 249);
  background-color: #070591;
  border-radius: 10px 10px 0px 0px;

}

.section-comentarios {
  background-color: #111010;
  border-radius: 10px 10px 0px 0px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.form-comentarios  {
  padding: 1rem;
}

.form-comentarios div {
  display: flex;
}

.form-comentarios textarea {
  width: 100%;
  min-height: 6rem;
  background-color: #424141;
  border: 0;
  outline: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

.form-comentarios textarea::placeholder {
  color: rgb(255, 255, 255);
}


.form-comentarios input {
  width: 50%;
  min-height: 2rem;
  margin: 0.5rem;
  background-color: #424141;
  border: 0;
  outline: 0;
  text-align: start;
  padding-left: 1rem;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

.form-comentarios input::placeholder {
  color: white;
}

.form-comentarios button {
  border: 0;
  background-color: blue;
  font-weight: bolder;
  color: white;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  border-radius: 10px 10px 10px 10px;
}

.form-comentarios button:hover {
  background-color: #00ff0d;
}

.comentarios-usuarios {
  margin: 1rem;
}

.comentarios-usuarios img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.comentarios-usuarios h3 {
  font-size: 1.2rem ;
  color: blue;
}

.comentarios-usuarios h4 {
  font-size: 1rem ;
}

.quantidade-comentarios {
  margin-left: 2rem ;
  margin-right: 2rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.quantidade-comentarios h4 {
  font-size: 1rem;
  margin-right: 0.5rem;
  padding-top: 0.3rem;
}

.quantidade-comentarios img {
  height: 1.5rem;
}

.quantidade-comentarios li {
  display: flex;
}

.like-deslike-respond-comentarios {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  align-items: center;
}

.like-deslike-respond-comentarios li {
  margin-right: 0.8rem;
}

.like-deslike-respond-comentarios img {
  height: 1rem;
  width: 1rem;
}

.like-deslike-respond-comentarios h4 {
  font-size: 0.8rem;
}
.img-usuario-inf {
  display: flex;
}

.capa-e-numero-do-episodio-pagina-anime img {
  width: 8rem;
  margin-left: 0.5rem;
}

.capa-e-numero-do-episodio-pagina-anime {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(51, 51, 51);
}

.capa-e-numero-do-episodio-pagina-anime img {
  padding-right: 1rem;
}

.capa-e-numero-do-episodio-pagina-anime {
  background-color: rgb(27, 26, 26);
  border-bottom: 1px solid white;
  padding: 0.3rem;
  cursor: pointer;
}

.numero-do-episodio-pagina-anime ul {
  margin-right: 3rem;
}

.numero-do-episodio-pagina-anime a {
  color: white;
}

li.ultimo-capa-e-numero-do-episodio-pagina-anime {
  border-bottom: none;
}

.numero-do-episodio-pagina-anime {
  padding-bottom: 2rem;
  margin-left: 2.5rem;
}

.data-lancamento :hover {
  color: rgb(0, 204, 255);
}

/* Daqui para baixo fica a estilização da pagina anime-edit  */

.lado-esquerdo-do-site-pagina-anime input,
select {
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
}
.titulo-principal-pagina-anime input {
  font-size: 1.5rem;
}

.capa-do-anime-escolhido input {
  cursor: pointer;
}

.titulo-principal-anime-edit {
  text-align: center;
  background-color: rgb(255, 238, 0);
  color: black;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.sinopse-anime-lista-anime input {
  width: 100%;
  height: 8rem;
}

@media (max-width: 999px) {
  .lado-direito-do-site-index-animes {
    display: none;
  }
}

@media (max-width: 558px) {
  .numero-do-episodio-pagina-anime {
    margin-left: 0.3rem;
  }

  .sessao1-primeira-parte-lista-anime {
    display: grid;
  }

  .capa-do-anime-escolhido {
    display: grid;
    justify-content: center;
  }

  .sinopse-anime-lista-anime {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .temporadas-pagina-anime ul {
    margin: 0.8rem;
    margin-top: 3rem;
  }

  .numero-do-episodio-pagina-anime ul {
    margin-right: 0.5rem;
    padding: 1rem;
  }
}

@media (max-width: 420px) {
  .titulo-principal-pagina-anime h2 {
    font-size: 1.7rem;
    margin-left: 0.4rem;
    text-align: center;
  }

  .informações-do-anime-lista-anime h3 {
    font-size: 1.5rem;
  }

  .titulo-assistir-anime-online-lista-anime h3 {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .sinopse-anime-lista-anime h2 {
    font-size: 1.5rem;
  }
}
.anime-edit {
  background-color: black;
  color: white;
}

/* --------------------------- ESTILIZAÇÃO EPISODIOS ADICIONADOS -----------------------------  */

.barra-titulo-1-episodios-adicionados {
  background-color: rgb(29, 29, 31);
  width: 30%;
  height: 0.3rem;
}

.barra-titulo-2-episodios-adicionados h2 {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.barra-titulo-3-episodios-adicionados {
  background-color: rgb(29, 29, 31);
  width: 30%;
  height: 0.3rem;
}

.titulo-principal-episodios-adicionados {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
}

.numero-da-pagina-episodios-adiconados {
  padding-bottom: 1rem;
}

.barra-separacao-episodios-adicionados {
  padding-top: 1rem;
  padding-left: 1rem;
}

/* ------------------------------ PAGINA DOS EPISODIO ADICIONADO --------------------------  */

.espaco-episodio-selecionado {
  background-color: black;
  padding-top: 1rem;
}

.site-animes-episodio-selecionado {
  background-color: black;
  color: white;
  display: flex;
}

.titulo-principal-episodio-selecionado {
  background-color: rgb(17, 17, 17);
  color: white;
  display: flex;
  justify-content: center;
}

.capa-episodio-selecionado img {
  width: 100%;
}

.botao-para-episodio {
  position:fixed;
  top: 60%;
  left: 30%;
  height: 15%;
  background-color: blue;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 999;
}

.botao-para-episodio:hover {
  background-color: rgb(9, 214, 250);
  color: black;
}

.capa-episodio-selecionado a {
  display: flex;
  justify-content: center;
}

.icones-episodios-anter-prox-episodio-selecionado ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  margin-top: 1rem;

  padding: 0;
}

.icones-episodios-anter-prox-episodio-selecionado li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 31);
  margin: 0.3rem;
  padding: 0.5rem;
  border: 1px solid white;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  overflow: hidden;
}

li.erro-reportar {
  background-color: red;
}

.icones-episodios-anter-prox-episodio-selecionado li:hover {
  background-color: rgb(0, 195, 255);
  border: 0;
}

.proximo-episodio-episodio-selecionado h4 {
  margin-right: 0.3rem;
}

.icones-episodios-anter-prox-episodio-selecionado img {
  height: 1rem;
  margin-right: 0.5rem;
}

.texto-assistir-anime-online-episodio-selecionado h3 {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.o-anime-popular-episodio-selecionado div {
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o-anime-popular-episodio-selecionado h4 {
  color: yellow;
}

.o-anime-popular-episodio-selecionado {
  color: white;
}

.o-anime-popular-episodio-selecionado a {
  color: white;
}

.comentarios-do-episodio {
  margin-top: 2rem;
}

li.adicionar-a-lista2 {
  display: none;
}

li.adicionar-a-lista1 {
  background-color: rgb(4, 0, 255);
}

.icones-episodios-anter-prox-episodio-selecionado h4 {
  padding-top: 0.5rem;
}

@media (max-width: 1115px) {
  .icones-episodios-anter-prox-episodio-selecionado h4 {
    font-size: 0.8rem;
  }

  .icones-episodios-anter-prox-episodio-selecionado li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .botao-para-episodio {
    top: 50%;
    left: 25%;
    height: 15%;
  }
}

@media (max-width: 1073px) {
  .icones-episodios-anter-prox-episodio-selecionado h4 {
    font-size: 0.7rem;
  }

  .icones-episodios-anter-prox-episodio-selecionado img {
    height: 0.7rem;
  }

  .botao-para-episodio {
    bottom: 9%;
    left: 36%;
    height: 5%;
    padding: 1rem;
    font-size: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1030px) {
  .titulo-principal-episodio-selecionado h2 {
    font-size: 1.3rem;
  }

  .icones-episodios-anter-prox-episodio-selecionado h4 {
    font-size: 0.6rem;
  }
}

@media (max-width: 934px) {
  .botao-para-episodio {
    font-size: 0.6rem;
  }
}

@media (max-width: 818px) {
  .botao-para-episodio {
    bottom: 7%;
    left: 37%;
    height: 4%;
    padding: 0.5rem;
    font-size: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media (max-width: 482px) {
  li.erro-reportar {
    margin-top: 0.3rem;
  }

  li.adicionar-a-lista2 {
    margin-top: 0.3rem;
  }

  li.adicionar-a-lista2 {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(4, 0, 255);
  }

  li.adicionar-a-lista1 {
    display: none;
  }

  .botao-para-episodio {
    bottom: 5%;
    left: 37%;
    height: 3%;
    padding: 0.5rem;
    font-size: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

/* --------------------------------- PEDIDO DE ANIMES -----------------------------------  */

.site-animes-pedidos-de-animes {
  background-color: black;
  padding-bottom: 18rem;
  color: white;
}

/* Defina o estilo inicial para ocultar a div */
#targetDiv {
  display: none;
}

.sect-pedidos {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.sect-pedidos h2 {
  background-color: #070591;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
}

.sect-pedidos h2:hover {
  color: rgb(255, 251, 7);
  font-weight: bolder;
}

.lado-esquerdo-do-site-pagina-anime {
  width: 100%;
}

.titulo-principal-pedidos-pedidosanimes {
  display: flex;
  justify-content: center;
  background-color: blue;
  padding-left: 2rem;
  align-items: center;
  padding: 0.2rem;
}

.titulo-principal-pedidos-pedidosanimes h2 {
  font-size: 1.5rem;
}

.titulo-principal-pedidos-pedidosanimes img {
  height: 2.5rem;
  padding-right: 0.8rem;
  padding-left: 1rem;
}

.inf-para-comentar-pedidosanimes h4 {
  text-align: center;
  padding: 2rem;
}

.titulo-formulario-pedidosanimes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.titulo-formulario-pedidosanimes img {
  width: 2rem;
  margin-right: 1rem;
}

.info-do-solicitante-pedidosanimes {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.info-do-solicitante-pedidosanimes input {
  background-color: rgb(19, 19, 19);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.formulario-envio-de-pedido-pedidosanimes {
  background-color: rgb(29, 29, 31);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
}

.dados-pedidosanimes {
  display: grid;
  margin: 0.5rem;
  width: 40%;
  height: 4.5rem;
}

.dados-pedidosanimes label {
  text-align: center;
}

.comentario-pedidosanimes input {
  width: 82%;
  height: 8rem;
  border-radius: 10px;
  border: 0;
  background-color: rgb(19, 19, 19);
  border: 1px solid black;
  color: white;
  font-size: 1rem;
}

.comentario-pedidosanimes {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.info-de-mensagem-publica-pedidosanimes h5 {
  text-align: center;
  padding: 1rem;
}

.botao-envio-pedidosanimes button {
  background-color: red;
  border: 1px solid white;
  border-radius: 10px;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
}

.botao-envio-pedidosanimes button:hover {
  color: black;
  border: 1px solid black;
  font-weight: bold;
}

.botao-envio-pedidosanimes {
  display: flex;
  justify-content: end;
  margin: 2rem;
  cursor: pointer;
}

@media (max-width: 812px) {
  .dados-pedidosanimes {
    width: 80%;
  }

  .info-do-solicitante-pedidosanimes {
    justify-content: center;
  }

  .titulo-formulario-pedidosanimes {
    padding-left: 0.6rem;
  }
}

@media (max-width: 535px) {
  .sect-pedidos h2 {
    font-size: 1rem;
    text-align: center;
  }
}
/* ----------------------------- AREA DO CLIENTE ------------------------------  */

.pagina-area-cliente {
  background-color: black;
  color: white;
}

.area-cliente {
  background-color: rgb(29, 29, 31);
  display: flex;
  justify-content: space-evenly;

  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.perfil-cliente img {
  width: 10rem;
  padding-bottom: 0.5rem;
}

.perfil-cliente {
  text-align: center;
  padding-bottom: 1.5rem;
}

.topicos-da-area-do-cliente ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  padding: 0;
}

.topicos-da-area-do-cliente {
  justify-content: center;
}

.topicos-da-area-do-cliente li:hover {
  background-color: rgb(0, 247, 255);
  border: 0;
}

.topicos-da-area-do-cliente li {
  margin: 0.5rem;
  text-align: center;
  border: 1px solid white;
  padding: 0.5rem;
  cursor: pointer;
}

.espaco-area-cliente {
  background-color: black;
  padding-top: 2rem;
}

.button-categoria-favor {
  display: flex;
  justify-content: center;
  border: 0;

}

.button-categoria-favor button {
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #00ccff;
  border: 0;
  color: black;
  font-weight: bolder;
  font-size: 1.3rem;
}


/* --------------------------------- CONTATOS -----------------------------------  */

.site-animes-contato {
  background-color: black;
}

.titulo-principal-contato h2 {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 0.4rem;
}

.balao-de-contato {
  display: flex;
  justify-content: center;
}

.texto-de-contato {
  border: 2px solid white;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 70%;
  border-radius: 15px;
  background-color: rgb(29, 29, 31);
}

.texto-de-contato h3 {
  text-align: center;
  color: white;
  padding: 5rem;
  width: 100%;
}

.espaco-contato {
  background-color: black;
  padding-top: 3.2rem;
}

@media (max-width: 696px) {
  .texto-de-contato h3 {
    font-size: 1rem;
    padding: 1rem;
  }
}

/* ------------------------------------ ESTILIZAÇÃO GENEROS ----------------------------  */

.titulo-principal-generos {
  background-color: rgb(0, 0, 255);
}

.lista-generos {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.lista-generos li:hover {
  background-color: #00e6ff;
}

.lista-generos ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  margin-top: 1rem;
  padding: 0;
}

.lista-generos li {
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  background-color: rgb(29, 29, 31);
  text-align: center;
}

.generos-2 li {
  padding-left: 3.9rem;
  padding-right: 3.9rem;
}

.generos-3 li {
  padding-left: 5.4rem;
  padding-right: 5.4rem;
}

.generos-4 li {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

/* ---------------------------------------- LISTA DOS ANIMES --------------------------  */

.listadeanimes {
  background-color: black;
}

.titulo-principal-lista-animes {
  background-color: blue;
  width: 100%;
}

.titulo-principal-lista-animes h2 {
  text-align: center;
  color: white;
  padding: 0.3rem;
}

.lista-de-animes-por-letra {
  /* display: flex;
  justify-content: center; */
  background-color: rgb(17, 17, 17);
  margin-top: 3rem;
}

.lista-de-animes-por-letra ul {
  padding: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.lista-de-animes-por-letra li {
  padding: 1rem;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: white;
  cursor: pointer;
}

li.all-listadeanimes {
  background-color: rgb(11, 206, 11);
}

.lista-de-animes-por-letra li:hover {
  background-color: rgb(11, 206, 11);
}

.pesquisa-listadosanimes {
  display: flex;
  justify-content: center;
}

.barra-de-pesquisa-lista-dos-animes {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  padding: 1.2rem;
  z-index: 2;
}

.barra-de-pesquisa-lista-dos-animes input {
  width: 95%;
  z-index: 2;
}

.pesquisa-lista-dos-animes {
  width: 100%;
}

.filtros-listadosanimes ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 1rem;
  color: white;
}

.filtros-internos {
  display: flex;
  cursor: pointer;
}

.filtros-listadosanimes div:hover {
  background-color: rgb(0, 238, 255);
  color: black;
  font-weight: 500;
}

.filtros-internos img {
  height: 1rem;
  padding-right: 10px;
}

img.seta-baixo {
  height: 0.5rem;
  display: flex;
  padding-left: 0.3rem;
}

.filtros-internos {
  align-items: center;
}

.seta-baixo {
  height: 0.5rem;
}

.filtros-listadosanimes div {
  background-color: rgb(42, 42, 44);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid rgb(34, 33, 33);
}

.numero-de-animes-na-pagina-listadosanimes h4 {
  color: white;
  margin: 1rem;
}

.numero-da-pagina-listadosanimes ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.numero-da-pagina-listadosanimes li {
  background-color: rgb(29, 29, 31);
  padding: 0.8rem;
  border: 1px solid rgb(20, 20, 20);
  margin: 0.5rem;
  color: white;
}

.numero-da-pagina-listadosanimes li:hover {
  background-color: rgb(7, 193, 250);
}

.numero-da-pagina-listadosanimes img {
  height: 1rem;
}

.numero-da-pagina-listadosanimes a {
  text-decoration: none;
}

.capa-onepiece-listadosanimes {
  border: 1px solid rgb(8, 190, 245);
  margin: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem;
}

.capa-onepiece-listadosanimes:hover {
  border: 1px solid red;
}

.lista-dos-animes-capas {
  display: flex;
  justify-content: center;
}

.lista-dos-animes-capas h4 {
  font-size: 0.9rem;
}

.lista-de-animes-por-letra ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 605px) {
  .lista-de-animes-por-letra li {
    border: 1px solid rgb(28, 28, 29);
  }

  .titulo-principal-lista-animes h2 {
    font-size: 1.5rem;
  }

  .barra-de-pesquisa-lista-dos-animes {
    width: 70%;
    justify-content: none;
    padding: 0.9rem;
  }

  .filtros-internos img {
    height: 0.8rem;
  }
  .filtros-internos {
    align-items: center;
  }

  .filtros-listadosanimes div {
    background-color: rgb(42, 42, 44);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: 0.1rem;
    border: 1px solid rgb(34, 33, 33);
  }

  .numero-da-pagina-listadosanimes li {
    margin: 0.2rem;
  }
}

/* Adicione isso ao seu arquivo CSS */
.numero-da-pagina-listadosanimes.current {
  background-color: red; /* Cor de fundo para a página atual */
  color: white; /* Cor do texto para a página atual */
}

.filtro-opcao {
  display: none;
}

.filtros-internos {
  display: flex;
  align-items: center;
  position: relative; /* Adiciona posição relativa */
}
.filtro-opcoes-container-organizar,
.filtro-opcoes-container {
  display: none;
  flex-direction: column;
  position: absolute; /* Adiciona posição absoluta */
  top: 100%; /* Coloca as opções abaixo do botão */
  left: 0; /* Alinha as opções com o botão */
  z-index: 1; /* Garante que as opções fiquem acima de outros elementos */
}

.filtro-opcao {
  display: block;
  margin: 5px 0;
  border: 0;
}

/* ---------------------------------- ESTILIZAÇÃO LOGIN -------------------------  */

.capa-fundo-login img {
  width: 100%;
  position: relative;
}

.capa-fundo-login {
  background-color: black;
}

.formulario-login {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 26rem;
  top: 6.5rem;
  color: white;
}

.bk-formulario-login {
  background-color: rgb(29, 29, 31);
  width: 32rem;
  height: 32rem;
  border-radius: 15px;
}

.titulo-principal-login h2 {
  background-color: white;
  text-align: center;
  background-color: blue;
  border-radius: 15px 15px 0 0;
  padding: 0.5rem;
}

.input-login-nome {
  display: grid;
  margin: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.input-login-nome input {
  height: 2.5rem;
  margin-top: 0.5rem;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.input-login-nome label {
  font-size: 1.3rem;
}

.input-login-email {
  display: grid;
  margin: 1.5rem;
}

.input-login-email input {
  height: 2.5rem;
  margin-top: 0.5rem;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.input-login-email label {
  font-size: 1.3rem;
}

.icone-nao-sou-robo {
  background-color: rgb(28, 236, 236);
  width: 40%;
  height: 3rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  margin-left: 10rem;
}

.texto-conectado-login {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.texto-conectado-login h4 {
  margin-left: 0.5rem;
}

.botao-entrar-login {
  display: flex;
  justify-content: center;
}

.botao-entrar-login button {
  background-color: blue;
  border: 0;
  border-radius: 5px;
  width: 18rem;
  height: 2.5rem;
  color: white;
  cursor: pointer;
}

.botao-entrar-login button:hover {
  background-color: rgb(13, 192, 236);
}

.opcao-cadastro-senha {
  display: flex;
  justify-content: space-around;
}

.opcao-cadastro-senha a {
  color: white;
}

.opcao-cadastro-senha h4 {
  font-size: 1rem;
  padding-top: 1rem;
}

.espaco-episodio-selecionado {
  display: none;
}

@media (max-width: 1115px) {
  .formulario-login {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 20rem;
    top: 5.5rem;
    color: white;
  }

  .bk-formulario-login {
    background-color: rgb(29, 29, 31);
    width: 32rem;
    height: 30rem;
    border-radius: 15px;
  }

  .espaco-episodio-selecionado {
    display: list-item;
  }
}

@media (max-width: 1093px) {
  .capa-fundo-login {
    display: none;
  }

  .formulario-login {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    left: 0;
    top: 0;
  }

  .pagina-login {
    background-color: black;
  }

  .bk-formulario-login {
    background-color: rgb(29, 29, 31);
    width: 32rem;
    height: 30rem;
    border-radius: 15px;
  }
}

@media (max-width: 534px) {
  .icone-nao-sou-robo {
    margin-left: 6rem;
    padding-top: 0.7rem;
  }

  .icone-nao-sou-robo h4{
    font-size: 1rem;


  }
}

/* --------------------------------- ESTILIZAÇÃO USER CREATE ---------------------------------  */

.informacoes-de-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: start;
}

.informacoes-de-cadastro input {
  width: 20rem;
  color: white;
}

.input-cadastro {
  padding-right: 0.5rem;
}

.mensagem-erro-cadastro {
  color: red;
  text-align: center;
}


@media (max-width: 1115px) {
  .formulario-cadastro {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 20rem;
    top: 4.5rem;
    color: white;
  }

  .bk-formulario-cadastro {
    background-color: rgb(29, 29, 31);
    width: 32rem;
    height: 31.5rem;
    border-radius: 15px;
  }

  .espaco-episodio-selecionado {
    display: list-item;
  }
}

@media (max-width: 1097px) {
  .capa-fundo-login {
    display: none;
  }

  .formulario-cadastro {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    left: 0;
    top: 0;
  }

  .pagina-cadastro {
    background-color: black;
  }

  .bk-formulario-cadastro {
    width: 34rem;
    height: 32rem;
  }
}

@media (max-width: 506px) {
  .bk-formulario-cadastro {
    height: 46rem;
  }

  .informacoes-de-cadastro {
    display: grid;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: start;
    margin-left: 0;
  }

  .informacoes-de-cadastro label {
    text-align: start;
  }

  .input-cadastro {
    width: 100%;
  }

  .input-login-nome {
    display: block;
  }
}

@media (max-width: 428px) {
  .input-cadastro {
    width: 90%;
  }
}

@media (max-width: 385px) {
  .input-cadastro {
    width: 80%;
  }
}

/* ------------------------------ ESTILIZAÇÃO INDEX --------------------------------------  */

.zoomable-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.zoomable-image-container:hover .zoomable-image-overlay {
  opacity: 1;
}
.zoomable-image-container {
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease-in-out;
}
.zoomable-image {
  min-width: 100%;
  transition: transform 0.3s ease-in-out;
}
.zoomable-image-container:hover .zoomable-image {
  transform: scale(1.1);
}
.zoomable-image-container:hover {
  filter: brightness(1.3) saturate(2);
}

.zoomable-image-container-temporada section {
  min-width: 50%;
  max-width: 50%;
}
.animes-lancados-index img {
  width: 40rem;
}

.linha-index {
  width: 95%;

  border-bottom: 1px solid #3a9faa;
  margin-left: 1rem;
}

.site-animes {
  display: flex;
  background-color: black;
}

/* -----------Seção 1 da pagina----------  */

.sessao-1-index {
  padding-left: 1rem;
  padding-right: 1rem;
}

.barra-separacao-index img {
  height: 2.5rem;
}

.setas-carrosel-index img {
  width: 1rem;
  cursor: pointer;
}

.setas-carrosel-index button {
  background-color: transparent;
  border: 0;
}

.textodelacamento-e-iconedecarrosel {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  padding-bottom: 0;
}

.barra-separacao-index {
  display: flex;
  align-items: center;
}

.barra-separacao-index h3 {
  padding-left: 0.5rem;
  color: white;
}

.animes-lancados {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}

.animes-lancados img {
  width: 15rem;
}

.animes-lancados h4 {
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.capa-onepiece-index {
  text-align: center;
  display: flow-root;
  justify-content: center;
  align-items: center;
}

.capa-onepiece-index h4,
h2 {
  padding-top: 0.5rem;
}

.capa-onepiece-index2 {
  display: flex;
  justify-content: center;
}

.capa-onepiece-index2 h4,
h2 {
  font-size: 1rem;
  color: white;
}

.row {
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: center;
}

/* Estilize o botão de voltar (prev) */
.setas-carrosel-index button[data-slide="prev"] {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid red; /* Ajuste a cor desejada */
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

/* Estilize o botão de avançar (next) */
.setas-carrosel-index button[data-slide="next"] {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red; /* Ajuste a cor desejada */
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.setas-carrosel-index button:hover[data-slide="prev"] {
  border-right: 25px solid rgb(4, 0, 255); /* Ajuste a cor desejada */
}

.setas-carrosel-index button:hover[data-slide="next"] {
  border-left: 25px solid rgb(4, 0, 255); /* Ajuste a cor desejada */
}

/* -----------Seção 2 da pagina----------  */

.botao-vermais-index button {
  color: white;
  background-color: red;
  border: 0;
  border-radius: 3px;
  height: 2rem;
  cursor: pointer;
  font-weight: bold;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.botao-vermais-index button:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 6rem;
  background-color: blue;
}

.animes-adicionados {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  padding-bottom: 2rem;
}

.animes-adicionados img {
  width: 15.5rem;
}

.animes-adicionados h4,
h2 {
  color: white;
  padding: 5px;
  font-size: 0.7rem;
}

.capa-onepiece-index a img {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.capa-onepiece-index h4,
h2 {
  margin-bottom: 0;
}

.capa-onepiece-index h4 {
  padding-bottom: 5%;
}

.capa-onepiece-index h2 {
  font-size: 0.8rem;

  line-height: 0vi;
}

.capa-onepiece-index {
  margin: 0.5rem;
}

.descricao-ep-index {
  background-color: rgb(29, 29, 31);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: start;
  text-align: start;
  padding-left: 0.2rem;
}

.descricao-ep-index h4 {
  color: yellow;
}

@media (max-width: 768px) {
  .col-md-2 {
    width: 50%; /* Duas colunas em telas menores */
  }
}

/* 
  -----------Seção 3 da pagina----------  */

/* -------------------------------------lado direito da pagina ---------------------------------  */

.lado-direito-do-site-index {
  border: 1px solid #3a9faa;
  border-top: 0;
  border-bottom: 0;
}

.capa-do-anime-popular-index img {
  width: 5rem;
}



.animes-populares-index h4 {
  color: white;
  font-size: 0.7rem;
}

.animes-populares-index h2 {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: yellow;
}

.nota-do-anime-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.nota-do-anime-index h4 {
  font-size: 1.2rem;
  padding-top: 0.7rem;
}

.nota-do-anime-index img {
  width: 1.5rem;
  margin-left: 0.5rem;
}

.o-anime-popular-index {
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  margin: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.o-anime-popular-index:hover {
  border: 1px solid rgb(253, 5, 5);
}

.o-anime-popular-index {
  margin-top: 0.4rem;
  /* margin-bottom: 0.4rem; */
}

.o-anime-popular-index-lado-direiro {
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}

.o-anime-popular-index-lado-direiro h3 {
  font-size: 1rem;
  font-weight: bolder;
  color: yellow;
}

.mangas-populares-index {
  margin-top: 4rem;
}

.noticias-blog {
  margin-top: 4rem;
}

@media (max-width: 722px) {
  .lado-direito-do-site-index {
    display: none;
  }

  .animes-adicionados {
    display: flex;
    justify-content: center;
  }

  .capa-onepiece-index-ep img {
    width: 20rem;
    padding: 0;
    margin: 0;
  }

  .capa-onepiece-index-film img {
    width: 13rem;
    padding: 0;
    margin: 0;
  }

  .capa-onepiece-index {
    padding: 0.5rem;
  }
}

/* ---------------------------- Estlizição Calendario/ Lancamentos -------------------------- */

.main-paginas {
  background-color: #1c1c1c;
  padding-top: 1.8rem;
}

.titulo-paginas {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  background-color: #000;
  border-radius: 0 0 15px 15px;
  font-size: 1.8rem;
}
.dias-da-semana-buttons {
  display: flex;
  justify-content: center;
}

.dias-da-semana-buttons button {
  border: 1px solid #00e6ff;
  color: #fff;
  background: #2f2f2f;
  border-radius: 11px 0;
  width: 7rem;
  height: 2.5rem;
  margin: 0.5rem;
}
.dias-da-semana-buttons button:hover {
  background-color: #00e6ff;
  cursor: pointer;
}

.lado-esquerdo-filho1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
  color: #fff;
  min-width: 18rem;
}

.descricao-calendario div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}
.descricao-calendario h2 {
  color: #fbff00;
  font-size: 1rem;
}

.titulo-calendarios {
  font-size: 3rem;
}

.lado-esquerdo-neto1 a {
  text-decoration: none;
}

.lado-esquerdo-neto1 {
  border: 2px solid #dfdb04;
  flex: 1;
  min-width: 18rem;
  max-width: 21rem;
  margin: 10px 10px 1rem;
  text-align: center;
}
.lado-esquerdo-neto1 h2 {
  font-size: 1rem;
  color: #ff0;
  font-weight: 800;
}

.lado-esquerdo-neto1 h2:hover {
  color: #fd0000;
}
.lado-esquerdo-neto1 p {
  font-size: 0.8rem;
  text-align: justify;
  padding: 0.5rem;
  color: #fff;
  font-weight: 700;
}

.lado-esquerdo-neto1 img {
  width: 100%;
}

.lado-esquerdo-neto1 h3 {
  color: red;
}

.lado-esquerdo-neto1 h3 {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  text-align: end;
  color: #ffffff;
}

.lado-esquerdo-neto1-calendario {
  min-width: 10rem;
  max-width: 14rem;
}

.dia-button.selected {
  background-color: #3498db;
  color: #fff;
}
@media (max-width: 474px) {
  .dias-da-semana-buttons {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }

  .lado-esquerdo-neto1-calendario {
    min-width: 10rem;
    max-width: 20rem;
  }

  .lado-esquerdo-neto1-calendario img {
    width: 16rem;
  }
}

/* ------------------------------- Estilização pagina Search -----------------------------  */

.search-anime-filme {
  display: flex;
}

/* -------------- filtro generos - pagina lista de animes usuario ------------  */

.lista-generos-part-animes ul {
  background-color: rgb(51, 51, 51);
  width: 90%;
  display: flex;
}

.lista-generos-part-animes li {
  font-size: 0.8rem;
  width: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.2rem;
  background-color: rgb(29, 29, 31);
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.selected {
  font-weight: bold; /* ou outra formatação visual desejada */
}

/* ----------   */

.botao-vermais-index button {
  font-size: 0.8rem;
  height: 3rem;
  margin-right: 0.6rem;
  width: 100%;
}

.barra-separacao-index h3 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.lado-esquerdo-none,
.lado-esquerdo-none2 {
  display: none;
}

/* ------------------------------------------------- */
/* Estilização do botão pop up da pagina de animes  */

/* Estilos para o pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 35%;
  max-width: 400px;
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-close:hover {
  color: red;
}

.popup button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.popup a {
  text-decoration: none;
  color: #007bff;
}

@media (max-width: 640px) {
  .popup-content {
    margin-left: 0%;
  }

}




/* -----------------  */ /* Media Lista animes  */
@media (max-width: 404px) {
  .lista-dos-animes-capas img {
    width: 8rem;
  }

  .animes-lancados h4 {
    font-size: 1rem;
  }
}


/* ---------------------------- ESTILIZAÇÃO EPISODIO --------------------------------  */

.capa-do-anime-popular-index-episodio img {
  width: 9rem;
}

.o-anime-popular-index h4 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.sessao-1-lado-direiro-index-anime-mobile {
  display: none;
}


@media (max-width: 722px) {
  .sessao-1-lado-direiro-index-anime-mobile {
    display: list-item;
  }

  .preview-episodios-mobile {
    display: flex;
    justify-content: center;
  }

  .capa-do-anime-popular-index-episodio img {
    width: 7rem;
  }

  .o-anime-popular-index {
    padding: 0.5rem;
  }

  .o-anime-popular-index h4 {
    margin-bottom: 0;
    font-size: 0.8rem;
  }

  .o-anime-popular-index {
    margin: 0.5rem;
  }
  
  .animes-populares-index h2 {
    margin-bottom: 0;
  }
}

@media (max-width: 447px) {
  .capa-do-anime-popular-index-episodio img {
    width: 4rem;
  }

  .o-anime-popular-index h4 {
    font-size: 0.5rem;
  }
}


.categoria  {
  display: flex;
}

/* Estilo para o botão de favorito adicionado */
.adicionar-favorito.favorito-adicionado {
  background-color: #ff0000 !important; /* Cor de fundo mais escura */
  color: #fff; /* Texto em branco */
  border: 1px solid #e20202; /* Borda da mesma cor do fundo */
}
