* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.informacoes-de-cadastro {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  justify-content: start;
  margin-left: 0.8rem;
}

.informacoes-de-cadastro input {
  width: 125%;
  color: white;
}

.input-cadastro {
  padding-right: 0.5rem;
}

.mensagem-erro-cadastro {
  color: red;
  text-align: center;
}

@media (max-width: 1115px) {
  .formulario-cadastro {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 20rem;
    top: 4.5rem;
    color: white;
  }

  .bk-formulario-cadastro {
    background-color: rgb(29, 29, 31);
    width: 32rem;
    height: 31.5rem;
    border-radius: 15px;
  }

  .espaco-episodio-selecionado {
    display: list-item;
  }
}

@media (max-width: 1097px) {
  .capa-fundo-login {
    display: none;
  }

  .formulario-cadastro {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    left: 0;
    top: 0;
  }

  .pagina-cadastro {
    background-color: black;
  }

  .bk-formulario-cadastro {
    width: 34rem;
    height: 32rem;
  }
}

@media (max-width: 506px) {
  .bk-formulario-cadastro {
    height: 46rem;
  }

  .informacoes-de-cadastro {
    display: grid;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: start;
    margin-left: 0;
  }

  .informacoes-de-cadastro label {
    text-align: start;
  }

  .input-cadastro {
    width: 100%;
  }

  .input-login-nome {
    display: block;
  }
}

@media (max-width: 428px) {
  .input-cadastro {
    width: 90%;
  }
}

@media (max-width: 385px) {
  .input-cadastro {
    width: 80%;
  }
}
