
<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes-contato">

    <div class="titulo-principal-contato">
        <h2>CONTATO </h2>
    </div>

    <div class="balao-de-contato">
        <div class="texto-de-contato">
            <h3>Quer fazer parceria, proposta ou algum contato de maior prioridade? <br>
                entre em contato pelo nosso e-mail xxxxxxxxxxxxxxx xxxxgmail.com 
            </h3>
        </div>
    </div>
    <div class="espaco-contato"></div>

</section>


<%- include("./partials/footer") %> 
