<main>
    <h2> Adicionar Episodio </h2>
    <% if(locals.error){ %>
        <h2> <%= error.message%> </h2>
    <% } %> 
    <form action="/episodio/create " method="post" enctype="multipart/form-data">
        <input type="text" name="nome" placeholder="Nome"  />
        <input type="date" name="data" placeholder="Data" />
        <input type="text" name="image" placeholder="Imagem" />

        <button type="submit">Adicionar</button>
    </form>
</main>