
<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes-pedidos-de-animes">

    <div class="lado-esquerdo-do-site-pagina-anime">
        <div class="titulo-principal-pedidos-pedidosanimes titulo-principal-generos">
            <h2>TODOS GÊNEROS</h2>
        </div>
    
    <div class="lista-generos">
        <ul>
            <div class="generos-1">
            <a href=""><li>Ação</li></a>
            <a href=""><li>Comédia Romântica</li></a>
            <a href=""><li>Animação</li></a>
            <a href=""><li>Artes Marciais</li></a>
            <a href=""><li>Aventura</li></a>
            <a href=""><li>Love</li></a>
            <a href=""><li>Comédia</li></a>
            <a href=""><li>Cotidiano</li></a>
            <a href=""><li>Demônios</li></a>
            <a href=""><li>Drama</li></a>
            </div>
            <div class="generos-2">
            <a href=""><li>Dorama</li></a>
            <a href=""><li>Ecchi</li></a>
            <a href=""><li>Escolar</li></a>
            <a href=""><li>Esporte</li></a>
            <a href=""><li>Fantasia</li></a>
            <a href=""><li>Ficção Cientifica</li></a>
            <a href=""><li>Game</li></a>
            <a href=""><li>Harém</li></a>
            <a href=""><li>Histórico</li></a>
            <a href=""><li>Infantil</li></a>
            </div>
            <div class="generos-3">
            <a href=""><li>Isekai</li></a>
            <a href=""><li>Magia</li></a>
            <a href=""><li>Mecha</li></a>
            <a href=""><li>Militar</li></a>
            <a href=""><li>Mistério</li></a>
            <a href=""><li>Mitoligia</li></a>
            <a href=""><li>Musica</li></a>
            <a href=""><li>Policial</li></a>
            <a href=""><li>Psicológia</li></a>
            <a href=""><li>Romance</li></a>
            </div>
            <div class="generos-4">
            <a href=""><li>Samurai</li></a>
            <a href=""><li>Seinen</li></a>
            <a href=""><li>Shoujo</li></a>
            <a href=""><li>Shounen</li></a>
            <a href=""><li>Sobrenatural</li></a>
            <a href=""><li>Super Poder</li></a>
            <a href=""><li>Suspense</li></a>
            <a href=""><li>Terror</li></a>
            <a href=""><li>Vampiros</li></a>
            <a href=""><li>Yaoi/Yuri</li></a>
            </div>
        </ul>
    </div>
    
    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
                </div>
            </section>
    </div>

</section>


<%- include("./partials/footer") %> 
