<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="">
    <div class="capa-fundo-login">
        <img src="/img/capa-login.jpg" alt="">
    </div>

    <div class="formulario-login">
            <div class="bk-formulario-login">
                <form action="">
                    <div class="titulo-principal-login">
                        <h2>LOGIN</h2>
                    </div>
        
                    <div class="input-login-nome">
                        <label for="">Nome</label>
                        <input type="text">
                    </div>
        
                    <div class="input-login-email">
                        <label for="">Email</label>
                        <input type="text">
                    </div>
        
                    <div class="icone-nao-sou-robo">
                        <div>
                            ffff
                        </div>
                    </div>
        
                    <div class="texto-conectado-login">
                        <input type="checkbox">
                        <h4>Manter Conectado</h4>
                    </div>
        
                    <div class="botao-entrar-login">
                        <button>ENTRAR</button>
                    </div>
        
                    <div class="opcao-cadastro-senha">
                        <a href="/cadastro">
                            <h4>CADASTRE-SE</h4>
                        </a>
                        <a href="#">
                            <h4>RECUPERAR SENHA</h4>
                        </a>
                    </div>
                </form>
            </div>
        </div>
</section>


<%- include("./partials/footer") %> 
