<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class=" pagina-login">
    <div class="espaco-episodio-selecionado"></div>

    <div class="capa-fundo-login">
        <img src="/img/capa-login.jpg" alt="">
    </div>

    <div class="formulario-login">
            <div class="bk-formulario-login">
                <form action="">
                    <div class="titulo-principal-login">
                        <h2>LOGIN</h2>
                    </div>
        
                    <div class="input-login-nome">
                        <label for="">Nome de Usuário / E-mail</label>
                        <input id="name" type="text" type="email" name="Name" 
                        placeholder="Seu Nome de Usuário ou seu E-mail" required>
                    </div>

                  
        
                    <div class="input-login-email">
                        <label for="">Senha</label>
                        <input id="senha" type="password" name="Senha" placeholder="Sua Senha" required>
                    </div>
        

                    
                    <div class="icone-nao-sou-robo">
                        <div>
                            <h4>NÃO SOU ROBO</h4>
                        </div>
                    </div>
        
                    <div class="texto-conectado-login">
                        <input type="checkbox">
                        <h4>Manter Conectado</h4>
                    </div>
        
                    <div class="botao-entrar-login">
                        <button>ENTRAR</button>
                    </div>
        
                    <div class="opcao-cadastro-senha">
                        <a href="/user/create">
                            <h4>CADASTRE-SE</h4>
                        </a>
                        <a href="/recuperarSenha">
                            <h4>RECUPERAR SENHA</h4>
                        </a>
                    </div>
                </form>
            </div>
        </div>
</section>
<div class="espaco-episodio-selecionado"></div>


<%- include("./partials/footer") %> 
