<%- include("./partials/head") %> <%- include("./partials/header") %>

<section class="pagina-login">
  <div class="espaco-episodio-selecionado"></div>

  <div class="capa-fundo-login">
    <img src="/img/capa-login.jpg" alt="" />
  </div>

  <div class="formulario-login">
    <div class="bk-formulario-login">
      <form action="/login" method="post">
        <% if(locals.error){ %>
          <h2 class="error-alert"><%= error.message %></h2>
         <% } %>
        <div class="titulo-principal-login">
          <h2>LOGIN</h2>
        </div>

        <div class="input-login-nome">
          <label for="">E-mail</label>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Seu E-mail"
  
          />
        </div>

        <div class="input-login-email">
          <label for="">Senha</label>
          <input
            id="senha"
            type="password"
            name="senha"
            placeholder="Sua Senha"

          />
        </div>

        <div class="icone-nao-sou-robo">
          <div>
            <h4>NÃO SOU ROBO</h4>
          </div>
        </div>

        <div class="texto-conectado-login">
          <input type="checkbox" />
          <h4>Manter Conectado</h4>
        </div>

        <div class="botao-entrar-login">
          <button type="submit">ENTRAR</button>
        </div>

        <div class="opcao-cadastro-senha">
          <a href="/user/create">
            <h4>CADASTRE-SE</h4>
          </a>
          <a href="/recuperarSenha">
            <h4>RECUPERAR SENHA</h4>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="espaco-episodio-selecionado"></div>

<%- include("./partials/footer") %>
