
<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes-pedidos-de-animes">

    <div class="lado-esquerdo-do-site-pagina-anime">
        <div class="titulo-principal-pedidos-pedidosanimes">
            <img src="/img/barra-azul.png" alt="">
            <h2>Melhorias do Site</h2>
        </div>
    
        <div class="inf-para-comentar-pedidosanimes">
            <h4>Comente aqui alguma melhoria que você gostaria de ver no site, ou bug em uma pagina.</h4>
        </div>
    
        <div class="formulario-envio-de-pedido-pedidosanimes">
            <form action="">
                <div class="titulo-formulario-pedidosanimes">
                    <img src="/img/icone-pedido-anime.png" alt="">
                    <h4>Faça um Feedback de melhoria ou Relato de um bug</h4>
                </div>
    
                <div class="info-do-solicitante-pedidosanimes">
                    <div class="dados-nome-pedidosaimes dados-pedidosanimes">
                        <label for="">Nome de Usuário</label>
                        <input id="name" type="text" name="Nome" 
                        placeholder="Seu nome de usuário aqui" required>
                    </div>
                    <div class="dados-email-pedidosaimes dados-pedidosanimes">
                        <label for="">Email</label>
                        <input id="email" type="email" name="Email" 
                        placeholder="Seu E-mail aqui" required>
                    </div>
                </div>
    
                <div class="comentario-pedidosanimes">
                    <input type="" name="" id="" placeholder="Seu Comentario...">
                </div>
    
     
                <div class="botao-envio-pedidosanimes"><button>Enviar</button></div>
            </form>
        </div>
    
    </div>


  
</section>


<%- include("./partials/footer") %> 
