<%- include("./partials/head-admin") %> <%- include("./partials/header-admin")%>


<main class=" main-news-adm">
    <h1 class="titulo-paginas-adm">Paginas de Criação</h1>
    <ul>
        <li><a href="/user/create">Adicionar Usuario</a></li>
        <li><a href="/anime/create">Adicionar Anime</a></li>
        <li><a href="/adicionarEpisodiosLista">Adicionar Episodios Anime</a></li>
        <li><a href="/filme/create">Adicionar Filme</a></li>
        <li><a href="/adicionarFilmesLista">Adicionar Episodios Filme</a></li>
        <li><a href="/lancamento/create">Criar Calendario</a></li>

    </ul>

</main>