
<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes-pagina-anime">

    <div class="lado-esquerdo-do-site-pagina-anime">
        <section class="sessao1-pagina-anime">
            <div class="titulo-principal-pagina-anime">
                    <img src="/img/icone.png" alt="">
                    <h2>One Piece - Legendado</h2>
            </div>

            <div class="sessao1-primeira-parte-lista-anime">
                <div class="capa-do-anime-escolhido">
                    <div class="capa-do-anime-pagina-anime">
                        <img src="/img/capa-do-anime.png" alt="">
                    </div>
                    <div class="icones-da-capa-do-anime-lista-anime">
                        <ul>
                            <li><img src="/img/icone-favorito.png" alt=""></li>
                            <li><img src="/img/icone-lista-anime.png" alt=""></li>
                            <li class="icone-gostei-pagina-anime"> 
                            <img src="/img/icone-gostei.png" alt=""> <p>91</p> 
                            </li>
                            <li class="icone-desgostei-pagina-anime"> 
                            <img src="/img/icone-desgostei.png" alt=""> <p>11</p> 
                            </li>
                        </ul>
                    </div>
                </div>
    
                <div class="informações-do-anime-lista-anime">
                    <ul>
                        <li><h3>Tipo: Legendado</h3></li>
                        <li><h3>Formato: Anime</h3></li>
                        <li><h3>Gêneros: Ação, Aventura, Fantasia, Shounen, Super Poder</h3></li>
                        <li><h3>Autor: Eiichiro Oda</h3></li>
                        <li><h3>Estúdio: Toei Animation</h3></li>
                        <li><h3>Total de Episódios: 1056</h3></li>
                        <li><h3>Ovas: 2</h3></li>
                        <li><h3>Filmes: 5</h3></li>
                        <li class="status-lista-anime"><h3>Status: Lançamento</h3></li>
                    </ul>
                </div>
            </div>

            <div class="titulo-assistir-anime-online-lista-anime">
                <h3>Assistir One Piece Todos Episódios em HD com a melhor qualidade</h3>
            </div>

            <div class="sinopse-anime-lista-anime">
                <h2>Sinopse - One Piece</h2>
                <p>
                    Houve um homem que conquistou tudo aquilo que o mundo tinha a oferecer, o lendário Rei
                    dos Piratas, Gold Roger. Capturado e condenado à execução pelo Governo Mundial, suas 
                    últimas palavras lançaram legiões aos mares. “Meu tesouro? Se quiserem, podem pegá-lo.
                    Procurem-no! Ele contém tudo que este mundo pode oferecer!”. Foi a revelação do maior
                    tesouro, o One Piece, cobiçado por homens de todo o mundo, sonhando com fama e riqueza
                    imensuráveis… Assim começou a Grande Era dos Piratas! Monkey D. Luffy de 17 anos,
                    desafia a definição de pirata. Sem a típica personalidade vil e cruel, suas motivações
                    são simples: a aventura e as possibilidades de conhecer novos amigos. Luffy e seus
                    companheiros partem em direção à Grand Line, a mais perigosa das rotas do mundo,
                    em incríveis aventuras, revelando mistérios e enfrentando poderosos oponentes
                    em busca do One Piece.
                </p>
            </div>
        </section>

        <section class="sessao2-pagina-anime">

            <div>
                <div class="temporadas-pagina-anime">
                    <ul>
                        <li class="numero-da-tempora-pagina-anime">1</li>
                        <li class="numero-da-tempora2-pagina-anime">Temporada 1</li>
                    </ul>
                </div>
                <div class="numero-do-episodio-pagina-anime">
                    <ul> 
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 1 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 2 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 3 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime 
                        ultimo-capa-e-numero-do-episodio-pagina-anime ">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 4 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="temporadas-pagina-anime">
                    <ul>
                        <li class="numero-da-tempora-pagina-anime">2</li>
                        <li class="numero-da-tempora2-pagina-anime">Temporada 2</li>
                    </ul>
                </div>
                <div class="numero-do-episodio-pagina-anime">
                    <ul> 
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 1 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 2 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 3 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime 
                        ultimo-capa-e-numero-do-episodio-pagina-anime ">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div>
                                <h3>Episódio 4 - 1</h3>
                                <h5>19 de março de 2023</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </section>

    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">
            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index">
                    <h2>ANIMES MAIS POPULARES</h2>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                    
                </div>
                </div>
            </section>
        
            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>MANGAS POPULARES</h2>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                    
                </div>
                </div>
            </section>

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                    
                </div>
                </div>
            </section>
    </div>

</section>


<%- include("./partials/footer") %> 
