<%- include("./partials/head-admin") %> <%- include("./partials/header-admin")%>

<main class=" main-news-adm">
    <h1 class="titulo-paginas-adm">Paginas de Edição</h1>
    <ul>
        <li><a href="/user">Usuários</a></li>
        <li><a href="/anime">Lista de Anime Admin</a></li>
        <li><a href="/episodio">Lista de Episodios</a></li>
        <li><a href="/filme">Lista de Filmes</a></li>

    </ul>

</main>