
<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes-pedidos-de-animes site-animes-episodio-selecionado ">

    
    <div class="lado-esquerdo-do-site-pagina-anime">
        <div class="espaco-episodio-selecionado"></div>
        <div class="titulo-principal-episodio-selecionado">
            <h2>One Piece - Episodio 1055</h2>
        </div>

        <div class="capa-episodio-selecionado">
            <a href="#"><img src="/img/capa-para-o-episodio.jpg" alt=""></a>
        </div>
        <button class="botao-para-episodio"><h2>ABRIR O PLAYER</h2></button>

        <div class="icones-episodios-anter-prox-episodio-selecionado">
            <ul>
                <a href="#">
                    <li class="adicionar-a-lista1">
                        <img src="/img/icone-favorito.png" alt="">
                        <h4>Favorito</h4>
                    </li>
                </a>
                <a href="#">
                    <li>
                    <img src="/img/icone-seta-direita2.png" alt="">
                    <h4>Episódio Anterior</h4>
                    </li>
                </a>
                <a href="#">
                    <li>
                    <img src="/img/icone-lista-anime2.png" alt="">
                    <h4>Lista de Episódios</h4>
                    </li>
                </a>
                <a href="#">
                    <li class="proximo-episodio-episodio-selecionado">
                    <h4>Próximo Episódio</h4>
                    <img src="/img/icone-seta-esquerda2.png" alt="">
                    </li>
                </a>
                <a href="#">
                    <li class="adicionar-a-lista2">
                        <img src="/img/icone-favorito.png" alt="">
                        <h4>Favorito</h4>
                    </li>
                </a>
                <a href="#">
                    <li class="erro-reportar">
                        <img src="/img/icone-reportar-erro.png" alt="">
                        <h4>REPORTAR</h4>
                    </li>
                </a>

            </ul>
        </div>

        <div class="texto-assistir-anime-online-episodio-selecionado">
            <h3>Assistir One Piece: Episodio 1055, Online GratisAssistir One Piece: Episodio 1055,
             Online LegendadoAssistir One Piece: Episodio 1055, Online em HD
            </h3>
        </div>

        <div class="linha-index"></div>
        <div class="espaco-episodio-selecionado"></div>


        <div class="formulario-envio-de-pedido-pedidosanimes comentarios-do-episodio">
            <form action="">
                <div class="titulo-formulario-pedidosanimes">
                    <img src="/img/icone-pedido-anime.png" alt="">
                    <h4>Comentarios</h4>
                </div>
    
                <div class="info-do-solicitante-pedidosanimes">
                    <div class="dados-nome-pedidosaimes dados-pedidosanimes">
                        <label for="">Nome de Usuário</label>
                        <input id="name" type="text" name="Nome" 
                        placeholder="Seu Nome de Usuário" required>
                    </div>
                    <div class="dados-email-pedidosaimes dados-pedidosanimes">
                        <label for="">Email</label>
                        <input id="email" type="email" name="Email" 
                        placeholder="Seu e-mail aqui" required>
                    </div>
                </div>
    
                <div class="comentario-pedidosanimes">
                    <input type="" name="" id="" placeholder="Seu Comentario...">
                </div>
    
                <div class="info-de-mensagem-publica-pedidosanimes">
                    <h5>O envio do pedido ficara publico para que outras pessos possam apoia o pedido. </h5>
                </div>
    
                <div class="botao-envio-pedidosanimes"><button>Enviar</button></div>
            </form>
        </div>
    
    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index o-anime-popular-episodio-selecionado">
                    <h2>Episódios</h2>
                <a href="">
                    <div class="o-anime-popular-index dd">
                        <div class="capa-do-anime-popular-index"> 
                            <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro ">
                            <div>
                                <h4>Episódio 1053</h4>
                                <div class="nota-do-anime-index"><h6>19 de março de 2023</h6></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index o-anime-popular-episodio-selecionado">
                        <div class="capa-do-anime-popular-index"> 
                            <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>Episódio 1054</h4>
                                <div class="nota-do-anime-index"><h6>19 de março de 2023</h6></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index o-anime-popular-episodio-selecionado">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>Episódio 1055</h4>
                                <div class="nota-do-anime-index"><h6>19 de março de 2023</h6></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index o-anime-popular-episodio-selecionado">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>Episódio 1056</h4>
                                <div class="nota-do-anime-index"><h6>19 de março de 2023</h6></div>
                            </div>
                        </div>
                        
                    </div>
                </a>

                </div>
            </section>

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
                </div>
            </section>
    </div>

</section>


<%- include("./partials/footer") %> 
