<%- include("./partials/head-admin") %> <%- include("./partials/header-admin")%>

<main class="main-news-adm">
    <h1 class="titulo-paginas-adm">Paginas de Comentarios</h1>
    <ul>

            <li>
                <a href="/pedido/pedidosDelete">Deletar Pedido de Anime </a>
            </li>
    
    </ul>
</main>
