
<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes-pedidos-de-animes">

    <div class="lado-esquerdo-do-site-pagina-anime">
        <div class="titulo-principal-pedidos-pedidosanimes">
            <img src="/img/barra-azul.png" alt="">
            <h2>Pedidos de Novos Animes</h2>
        </div>
    
        <div class="inf-para-comentar-pedidosanimes">
            <h4>Comente aqui algum Anime que você gostaria de assistir, e que não tem em nosso site.</h4>
        </div>
    
        <div class="formulario-envio-de-pedido-pedidosanimes">
            <form action="">
                <div class="titulo-formulario-pedidosanimes">
                    <img src="/img/icone-pedido-anime.png" alt="">
                    <h4>Faça seu Pedido de Anime</h4>
                </div>
    
                <div class="info-do-solicitante-pedidosanimes">
                    <div class="dados-nome-pedidosaimes dados-pedidosanimes">
                        <label for="">Nome de Usuário</label>
                        <input id="name" type="text" name="Nome" 
                        placeholder="Seu Nome de Usuário" required>
                    </div>
                    <div class="dados-email-pedidosaimes dados-pedidosanimes">
                        <label for="">Email</label>
                        <input id="email" type="email" name="Email" 
                        placeholder="Seu e-mail aqui" required>
                    </div>
                    <div class="dados-nomeanime-pedidosaimes dados-pedidosanimes ">
                        <label for="">Nome do Anime</label>
                        <input id="name-anime" type="text" name="Nome-Anime" 
                        placeholder="Nome do Anime que você quer ver no Site" required>
                    </div>
                </div>
    
                <div class="comentario-pedidosanimes">
                    <input type="" name="" id="" placeholder="Seu Comentario...">
                </div>
    
                <div class="info-de-mensagem-publica-pedidosanimes">
                    <h5>O envio do pedido ficara publico para que outras pessos possam apoia o pedido. </h5>
                </div>
    
                <div class="botao-envio-pedidosanimes"><button>Enviar</button></div>
            </form>
        </div>
    
    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
                </div>
            </section>
    </div>

</section>


<%- include("./partials/footer") %> 
