<%- include("./partials/head") %> <%- include("./partials/header") %>

<section class="pagina-login">
  <div class="espaco-episodio-selecionado"></div>

  <div class="capa-fundo-login">
    <img src="/img/capa-login.jpg" alt="" />
  </div>

  <div class="formulario-login">
    <div class="bk-formulario-login">
      <form action="">
        <div class="titulo-principal-login">
          <h2>Recuperar Senha</h2>
        </div>

        <div class="input-login-nome">
          <label for="">E-mail de Recuperação</label>
          <input
            id="name"
            type="text"
            type="email"
            name="Name"
            placeholder="Seu E-mail"
            required
          />
        </div>

        <div class="botao-entrar-login">
          <button type="submit">Enviar</button>
        </div>

        <div class="opcao-cadastro-senha">
          <a href="/login">
            <h4>Voltar</h4>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="espaco-episodio-selecionado"></div>

<%- include("./partials/footer") %>
