<!-- Botão de Scroll para o topo da pagina  -->
<section>
    <button class="scrollTop" onclick="backTop();">
        <img src="/img/seta-topo.png" alt="">
    </button>
</section>


<script src="/img/javascript/script.js"></script>

</body>




<footer class="footer-index-maior ">
    <div class="footer-index ">
        <div class="logo">
           <a href="/"> <img src="/img/logo.jpg" alt="logo"></a>
        </div>
        <ul class="topicos-footer-index">
            <a href=""><li>ANIMEZ</li></a>
            <a href=""><li>MANGAZ</li></a>
            <a href=""><li>BLOGZ</li></a>
            <a href="/melhorias"><li>FEEDBACKS/AVISO DE BUG</li></a>
            <a href="/contato"><li>CONTATO</li></a>
        </ul>
        <div>

        </div>
    </div>
    <div class="direitos-footer-index">
        <p>© 2023 xxxxxx - Todos os Direitos Reservados - Política de Privacidade - DMCA <br>
            Este site não hospeda nenhum vídeo em seu servidor. Todo conteúdo é provido de 
            terceiros não afiliados.</p>

    </div>


</footer>
</html>




