<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/listaDosAnimes.css" />
    <link rel="stylesheet" type="text/css" href="/css/anime.css" />
    <link rel="stylesheet" type="text/css" href="/css/pedidosDeAnimes.css" />
    <link rel="stylesheet" type="text/css" href="/css/generos.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/episodiosAdicionados.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/contato.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/paginaDoEpisodioSelecionado.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/userCreate.css" />
    <link rel="stylesheet" type="text/css" href="/css/areaCliente.css" />
  </head>
  <body></body>
</html>
