<header>

    <div>
        <a href="/indexAdmin">Pagina Inicial</a> | 
        <a href="/user">Usuários</a> |
        <a href="/user/create">Adicionar Usuario</a> |  
        <a href="/anime">Lista de Anime Admin</a> |          
        <a href="/anime/listaAnimeUsuario">Lista de Anime Usuario</a> |
        <a href="/anime/create">Adicionar Anime</a> |
        <a href="/episodio">Lista Episodios</a> |
        <a href="/episodio/create">Adicionar Episodio</a> |  



    </div>


</header>













