<header class="header-adm">
    <ul>
        <li><a href="/indexAdmin">Pagina Inicial</a> | </li>
        <li><a href="/paginasViews">Paginas de Edição</a> |</li>
        <li><a href="/paginasCreate">Paginas de Criação</a> | </li>
        <li><a href="/paginasComentarios">Paginas de Comentarios</a> | </li>
    </ul>
</header>










