.footer-index-maior {
  background-color: black;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #3a9faa;
  padding: 1rem;
}

.footer-index {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-around;
  justify-content: center;
}

.logo img {
  width: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  flex-direction: row;
  flex-flow: wrap;
}

.topicos-footer-index {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.topicos-footer-index a {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 1rem;
}

.topicos-footer-index a:hover {
  color: rgb(4, 248, 248);
}

.direitos-footer-index {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

/*------------------Daqui Para baixo fica a estilização do SCROLL DE ROLAGEM GERAL--------------------------*/

/* Estilizando o Botão de Scroll para o topo da pagina  */
.scrollTop {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0px;
  bottom: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

/* Estilizando quano ele ira aparacer  */
.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

/* Estilizando a largura da imagem e fazendo a rotação dela  */
.scrollTop img {
  width: 50%;
  transform: rotate(-90deg);
}
